<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="business.entity.Order">
    <!--@mbg.generated-->
    <id column="yuid" jdbcType="CHAR" property="yuid" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="people" jdbcType="CHAR" property="people" />
    <result column="tableid" jdbcType="VARCHAR" property="tableid" />
    <result column="yutime" jdbcType="TIMESTAMP" property="yutime" />
    <result column="sumprice" jdbcType="DECIMAL" property="sumprice" />
    <result column="casename" jdbcType="VARCHAR" property="casename" />
    <result column="ordertime" jdbcType="TIMESTAMP" property="ordertime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    yuid, userid, people, tableid, yutime, sumprice, casename, ordertime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from yu
    where yuid = #{yuid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from yu
    where yuid = #{yuid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="business.entity.Order">
    <!--@mbg.generated-->
    insert into yu (yuid, userid, people, 
      tableid, yutime, sumprice, 
      casename, ordertime)
    values (#{yuid,jdbcType=CHAR}, #{userid,jdbcType=VARCHAR}, #{people,jdbcType=CHAR}, 
      #{tableid,jdbcType=VARCHAR}, #{yutime,jdbcType=TIMESTAMP}, #{sumprice,jdbcType=DECIMAL}, 
      #{casename,jdbcType=VARCHAR}, #{ordertime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="business.entity.Order">
    <!--@mbg.generated-->
    insert into yu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yuid != null">
        yuid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="people != null">
        people,
      </if>
      <if test="tableid != null">
        tableid,
      </if>
      <if test="yutime != null">
        yutime,
      </if>
      <if test="sumprice != null">
        sumprice,
      </if>
      <if test="casename != null">
        casename,
      </if>
      <if test="ordertime != null">
        ordertime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yuid != null">
        #{yuid,jdbcType=CHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="people != null">
        #{people,jdbcType=CHAR},
      </if>
      <if test="tableid != null">
        #{tableid,jdbcType=VARCHAR},
      </if>
      <if test="yutime != null">
        #{yutime,jdbcType=TIMESTAMP},
      </if>
      <if test="sumprice != null">
        #{sumprice,jdbcType=DECIMAL},
      </if>
      <if test="casename != null">
        #{casename,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="business.entity.Order">
    <!--@mbg.generated-->
    update yu
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="people != null">
        people = #{people,jdbcType=CHAR},
      </if>
      <if test="tableid != null">
        tableid = #{tableid,jdbcType=VARCHAR},
      </if>
      <if test="yutime != null">
        yutime = #{yutime,jdbcType=TIMESTAMP},
      </if>
      <if test="sumprice != null">
        sumprice = #{sumprice,jdbcType=DECIMAL},
      </if>
      <if test="casename != null">
        casename = #{casename,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null">
        ordertime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where yuid = #{yuid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="business.entity.Order">
    <!--@mbg.generated-->
    update yu
    set userid = #{userid,jdbcType=VARCHAR},
      people = #{people,jdbcType=CHAR},
      tableid = #{tableid,jdbcType=VARCHAR},
      yutime = #{yutime,jdbcType=TIMESTAMP},
      sumprice = #{sumprice,jdbcType=DECIMAL},
      casename = #{casename,jdbcType=VARCHAR},
      ordertime = #{ordertime,jdbcType=TIMESTAMP}
    where yuid = #{yuid,jdbcType=CHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-16-->
  <select id="findAllByUserid" parameterType="string" resultMap="BaseResultMap">
    select *
    from yu
    where userid=#{userid,jdbcType=VARCHAR}
  </select>
</mapper>